body {
  margin: 0;
  padding: 0;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.circle {
  width: 100px;
  height: 100px;
  background-color: #845ec2;
  border-radius: 50%;
  animation: pulse 2s infinite;
}
